[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
nltk = "*"
matplotlib = "*"
pandas = "*"
numpy = "*"
wordcloud = "*"

[dev-packages]

[requires]
python_version = "3.11"
